.chat-container{
    height: 100%;
    width: 100%;
    display: flex;
}

.cc-left{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #d0d0d0;
}

.cc-left-header{
    height: 60px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 20px 20px 0 0 ;
    border-bottom: 1px solid #d0d0d0;
}
.cc-lh-left{
    color: #202123;
    font-size: 20px;
    font-weight: bolder;
}
.cc-lh-right{
    display: flex;
    align-items: center;
    gap: 10px;
}

.MuiTextField-root.cc-lh-right-input,.MuiTextField-root.cc-lh-right-input:hover{
border-radius: 8px;
    background: #d9d9d9;

}
.MuiTextField-root.cc-lh-right-input .MuiInputBase-root,.MuiTextField-root.cc-lh-right-input .MuiInputBase-root:hover{
    box-shadow: var(--box-shadow);
    height: 35px;
}
.MuiTextField-root.cc-lh-right-input .MuiInputBase-root fieldset{
    border: none;
    outline: none;
}

.MuiButtonBase-root.cc-lh-right-button,.MuiButtonBase-root.cc-lh-right-button:hover {
    border-color: #d0d0d0;
    color: #d0d0d0;
    min-width: 0;
    box-shadow: var(--box-shadow);
}

.cc-left-messages-container{
    flex: 1;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;
}
.cc-left-messages-container::-webkit-scrollbar {
    width: 8px;
}

.cc-left-messages-container::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.cc-left-messages-container::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.cc-left-messages-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}


.cc-lmc-bot-container{
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* .cc-lmc-bot-container:first-child{
    margin-top: 20px;
} */

.cc-lmc-bc-body{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #f4c0ab;
    border-radius: 20px;
    letter-spacing: 1.5px;
}
.cc-lmc-bc-body.user{
    background: #d0d0d0;
}

.cc-lmc-bc-actions{
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cc-lmc-bc-actions-left{
    display: flex;
    align-items: center;
    gap: 20px;
}
.cc-lmc-bc-actions-right{
    font-size: 14px;
    font-weight: lighter;
    color: white;
}

.cc-lmc-bc-actions-icon-holder{
    height: 35px;
    width: 35px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d9d9d9;
    padding: 5px;
    cursor: pointer;
    transition: all .3s ease;
}
.cc-lmc-bc-actions-icon-holder:hover{
    background: transparent;
    border: 1px solid black ;
}
.cc-lmc-bc-actions-icon-holder.input-message{
    height: 55px;
    width: 55px;
}


.cc-left-input-container{
    min-height: 80px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.cc-left-ic-input{
    flex: 1;
}

.MuiTextField-root.cc-left-ic-input,.MuiTextField-root.cc-left-ic-input:hover{
    border-radius: 8px;
        background: #d9d9d9;
    
    }
    .MuiTextField-root.cc-left-ic-input .MuiInputBase-root,.MuiTextField-root.cc-left-ic-input .MuiInputBase-root:hover{
        min-height: 35px;
    }
    .MuiTextField-root.cc-left-ic-input .MuiInputBase-root fieldset{
        border: none;
        outline: none;
    }







.cc-right{
    flex: .25;
    height: 100%;
    /* border: 1px solid blue; */
    background: #f1f1f1;
    border-radius: 0 20px 20px 0 ;
    display: flex;
    flex-direction: column;

}

.cc-right-header{
    height: 60px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d0d0d0;
    background: #f1f1f1;
    border-radius: 0 20px 0 0 ;
    color: #202123;
    font-size: 20px;
    font-weight: bolder;
}

.cc-rh-total{
    font-size: 14px;
    font-weight: lighter;
    height: 30px;
    width: 80px;
    border-radius: 20px;
    background: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cc-right-history{
    flex:1;
    list-style: none;
    margin: 0;
    padding: 10px ;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
}
.cc-right-history::-webkit-scrollbar {
    width: 8px;
}

.cc-right-history::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.cc-right-history::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.cc-right-history::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}
.cc-rh-item{
    border-radius: 8px;
    padding: 5px;
    background: transparent;
    transition: all .3s ease;
}
.cc-rh-item.active{
    box-shadow: var(--box-shadow);
    background: white;

}
.cc-rh-item:hover{
    cursor: pointer;
    box-shadow: var(--box-shadow);
    
}

.cc-rh-item-title{
    font-size: 18px;
    color: #202123;
    font-weight: bolder;

}

.cc-rh-item-desc{
    font-size: 14px;
    color:#3d3d3d;
    font-weight: lighter;
}





.cc-right-footer{
    height: 80px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cc-rf-button{
    flex: 1;
    outline: none;
    border: 1px solid #3d3d3d;
    background: transparent;
    color: #3d3d3d;
    height: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.cc-rf-button:hover{
    cursor: pointer;
    background: #3d3d3d;
    color: #f1f1f1;
}