.library-container {
    height : 100%;
    width  : 100%;
    display: flex;
    position: relative;
}

.lc-left {
    flex          : 1;
    height        : 100%;
    display       : flex;
    flex-direction: column;
    max-width:calc(100vw - 100px);
    min-width:calc(80vw - 60px);
}

.lc-left-header {
    height         : 60px;
    width          : 100%;
    padding        : 0 20px;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    background     : #ffffff;
    border-radius  : 20px 20px 0 0;
    border-bottom  : 1px solid #d0d0d0;
}

.lc-lh-left {
    color      : #202123;
    font-size  : 20px;
    font-weight: bolder;
}
.lc-lh-left span:hover{
    color: #3464c4;
}

.lc-lh-right {
    display    : flex;
    align-items: center;
    gap        : 10px;
}

.MuiTextField-root.lc-lh-right-input,
.MuiTextField-root.lc-lh-right-input:hover {
    border-radius: 8px;
    background   : #d9d9d9;

}

.MuiTextField-root.lc-lh-right-input .MuiInputBase-root,
.MuiTextField-root.lc-lh-right-input .MuiInputBase-root:hover {
    box-shadow: var(--box-shadow);
    height    : 35px;
}

.MuiTextField-root.lc-lh-right-input .MuiInputBase-root fieldset {
    border : none;
    outline: none;
}

.MuiButtonBase-root.lc-lh-right-button,
.MuiButtonBase-root.lc-lh-right-button:hover {
    border-color: #3464c4;
    color       : #3464c4;
    min-width   : 0;
    box-shadow  : var(--box-shadow);
}

.lc-left-content {
    padding       : 20px;
    display       : flex;
    flex-direction: column;
    flex          : 1;
    width         : 100%;
    overflow-y    : scroll;
    gap           : 20px;
}

.lc-lc-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lc-lc-top-search{
    display: flex;
    align-items: flex-start;
}
.lc-lc-top-search-input.MuiTextField-root label.Mui-focused,.lc-lc-top-search-input.MuiInputBase-root  {
    color: #3464c4;
}

.lc-lc-top-search-input.MuiTextField-root .MuiInputBase-root.MuiOutlinedInput-root.Mui-focused fieldset,.lc-lc-top-search-input.MuiInputBase-root .Mui-focused fieldset{
    border-color: #3464c4;
}
.lc-lc-top-buttons{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.lc-lc-top-buttons .lc-rf-button{
    gap: 5px;
}
.lc-lc-bottom{
    flex: 1;
    width: 100%;
    height: max-content;
    border: 1px solid #3d3d3d;
    border-radius: 10px;
}

.lc-right{
    width: 25%;
    height        : 100%;
    /* border     : 1px solid blue; */
    background    : #f1f1f1;
    border-radius : 0 20px 20px 0;
    display       : flex;
    flex-direction: column;
    border-left: 1px solid #d9d9d9;
    transition: all .3s ease;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
.lc-right.closed{
    width: 0;
    opacity: 0;
}

.lc-right-header {
    height         : 60px;
    width          : 100%;
    padding        : 0 20px;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    border-bottom  : 1px solid #d0d0d0;
    background     : #f1f1f1;
    border-radius  : 0 20px 0 0;
    color          : #202123;
    font-size      : 20px;
    font-weight    : bolder;
}

.lc-rh-total {
    font-size      : 14px;
    font-weight    : lighter;
    height         : 30px;
    width          : 80px;
    border-radius  : 20px;
    background     : #d9d9d9;
    display        : flex;
    align-items    : center;
    justify-content: center;
}


.lc-right-history {
    flex          : 1;
    list-style    : none;
    margin        : 0;
    padding       : 10px;
    display       : flex;
    flex-direction: column;
    gap           : 10px;
    overflow-y    : scroll;
}

.lc-right-history::-webkit-scrollbar {
    width: 8px;
}

.lc-right-history::-webkit-scrollbar-thumb {
    background   : #ccc;
    border-radius: 4px;
}

.lc-right-history::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.lc-right-history::-webkit-scrollbar-track {
    background   : #f1f1f1;
    border-radius: 4px;
}

.lc-rh-item {
    border-radius : 8px;
    padding       : 5px;
    background    : transparent;
    transition    : all .3s ease;
    display       : flex;
    flex-direction: column;
    gap           : 10px;
}

.lc-rh-item.active {
    box-shadow: var(--box-shadow);
    background: white;

}

.lc-rh-item:hover {
    cursor    : pointer;
    box-shadow: var(--box-shadow);

}

.lc-rh-item-title {
    font-size  : 16px;
    color      : #202123;
    font-weight: bold;

}

.lc-rh-item-desc {
    font-size    : 14px;
    color        : #3d3d3d;
    font-weight  : lighter;
    overflow     : hidden;
    text-overflow: ellipsis;
}

.lc-right-footer {
    height         : 120px;
    width          : 100%;
    padding        : 10px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    gap: 10px;
}

.lc-rf-button {
    flex           : .5;
    outline        : none;
    border         : 2px solid #3464c4;
    background     : white;
    color          : #3464c4;
    height         : 50px;
    font-size      : 20px;
    font-weight: normal;
    display        : flex;
    align-items    : center;
    justify-content: center;
    border-radius  : 8px;
    gap            : 10px;
    padding: 5px 10px;
    width: 100%;
    box-shadow: var(--box-shadow);
}

.lc-rf-button:hover {
    cursor    : pointer;
    background: #3464c4;
    color     : white;
}

.lc-left-upload-container {
    padding       : 20px;
    display       : flex;
    flex-direction: column;
    overflow-y: scroll;
    gap           : 20px;
}

.lc-rf-button-upload {
    min-height         : 55px;
    outline        : none;
    border         : 1px solid #3464c4;
    background     : transparent;
    color          : #3464c4;
    font-size      : 14px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    border-radius  : 8px;
    gap            : 10px;
    font-size      : 18px;
}
.lc-rf-form-input.MuiTextField-root{
    background: lightgray;
}
.lc-rf-form-input.MuiTextField-root label.Mui-focused,.lc-rf-form-input.MuiInputBase-root {
    color: #3464c4;
    border: 1px solid black;
    background: transparent;
}

.lc-rf-form-input.MuiTextField-root .MuiInputBase-root.MuiOutlinedInput-root.Mui-focused fieldset,.lc-rf-form-input.MuiInputBase-root .Mui-focused fieldset{
    border: 1px solid black;
    border-color: #3464c4;
    background: transparent;
}

.lc-rf-button-upload:hover {
    cursor    : pointer;
    background: #3464c4;
    color     : #f1f1f1;
}

.lc-luc-form {
    display: flex;
    gap    : 10px;
}

.lc-luc-form-left {
    flex          : .5;
    display       : flex;
    flex-direction: column;
    gap           : 20px;
}

.lc-luc-form-right {
    flex          : .5;
    display       : flex;
    flex-direction: column;
    gap           : 20px;
}

.lc-luc-form-input.MuiTextField-root label.Mui-focused,.lc-luc-form-input.MuiInputBase-root {
    color: #3464c4;
}

.lc-luc-form-input.MuiTextField-root .MuiInputBase-root.MuiOutlinedInput-root.Mui-focused fieldset,.lc-luc-form-input.MuiInputBase-root .Mui-focused fieldset{
    border-color: #3464c4;
}
.lc-luc-fi-label.MuiInputLabel-root.Mui-focused{
    color: #3464c4;
}
.lc-luc-form-input.MuiInputBase-root.Mui-focused .MuiSelect-icon{
    color: #3464c4;
}
.lc-luc-form-input.MuiInputBase-root.Mui-focused fieldset{
    border-color: #3464c4;
}
.lc-right-header.closed,.lc-right-history.closed,.lc-right-footer.closed
{
    display: none;
}
@media screen and (max-width:960px) {
    
    .lc-right{
        width: 50%;
    }
}
@media screen and (max-width:480px) {
    
    .lc-right{
        width: 100%;
        border-radius: 20px;
    }
    .lc-right-header{
        border-radius: 20px 20px 0 0;
    }

}