.projects-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.pc-left {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pc-left-header {
  height: 60px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 20px 20px 0 0;
  border-bottom: 1px solid #d0d0d0;
}

.pc-lh-left {
  color: #202123;
  font-size: 20px;
  font-weight: bolder;
}

.pc-lh-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.MuiTextField-root.pc-lh-right-input,
.MuiTextField-root.pc-lh-right-input:hover {
  border-radius: 8px;
  background: white;
  border: 1px solid var(--primary);
}

.MuiTextField-root.pc-lh-right-input .MuiInputBase-root,
.MuiTextField-root.pc-lh-right-input .MuiInputBase-root:hover {
  box-shadow: var(--box-shadow);
  height: 35px;
}

.MuiTextField-root.pc-lh-right-input .MuiInputBase-root fieldset {
  border: none;
  outline: none;
}

.MuiButtonBase-root.pc-lh-right-button,
.MuiButtonBase-root.pc-lh-right-button:hover {
  border-color: var(--primary);
  color: var(--primary);
  min-width: 0;
  box-shadow: var(--box-shadow);
}

.pc-left-content {
  padding: 20px;
  display: flex;
  flex: 1;
  width: 100%;
  overflow-y: scroll;
  gap: 20px;
  flex-wrap: wrap;
}

.pc-lc-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.pc-lc-row-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 200px;
  flex: 0.25;
  max-width: calc(25% - 20px);
  background: white;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3 ease;
  margin-right: 20px;
  border: 1px solid #d0d0d0;
  min-width: 380px;
}

.pc-lc-row-item:last-child {
  margin-right: 0;
}

.pc-lc-row-item:hover {
  transform: scale(1.05);
  box-shadow: var(--box-shadow);
}

.pc-lc-ri-pill {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -10px;
  opacity: 0;
  visibility: hidden;
  z-index: -2;
  top: 0;
  height: 30px;
  width: 90px;
  font-size: 12px;
  font-weight: lighter;
  color: #202123;
  border-radius: 0 20px 0 20px;
  background: #ef6a3665;
  transition: all 0.3s ease;
}

.pc-lc-row-item:hover .pc-lc-ri-pill {
  right: 0;
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.pc-lc-ri-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #202123;
  border-bottom: 1px solid #d0d0d0;
}

.pc-lc-ri-desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px 0 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  color: #969696;
  height: 120px;
}

.pc-lc-ri-desc-date {
  font-size: 12px;
  font-weight: lighter;
  color: #d0d0d0;
  align-self: flex-end;
  padding: 0 10px 10px 10px;
}
