/* @font-face {
  font-family: 'taha';
  src: url('./assets/fonts/Gilroy-Bold.ttf') format('ttf');
  font-weight: bold;
}


*{
  font-family: "taha", sans-serif;
} */



@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

body {
  /* --box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.1); */
  --box-shadow: 0px 9px 15px 5px rgba(0,0,0,0.1);

  font-family: 'Gilroy-Bold', sans-serif;
  font-family: 'Gilroy-Heavy', sans-serif;
  font-family: 'Gilroy-Light', sans-serif;
  font-family: 'Gilroy-Medium', sans-serif;
  font-family: 'Gilroy-Regular', sans-serif;

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  box-sizing: border-box;
}

