/* @font-face {
  font-family: 'taha';
  src: url('./assets/fonts/Gilroy-Bold.ttf') format('ttf');
  font-weight: bold;
}


*{
  font-family: "taha", sans-serif;
} */



@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  box-sizing: border-box;
}

body.dark{
  --dark-bg-color:#1f265c;
  --lighter-bg-color:#343e8b;
  --secondary-black-color:#212229;
  --text-black-color:white;
  --text-white-color:#121212;
  --bg-black-color:#121212;
  --bg-category-color:#212229;
  --dark-category-color:rgba(255, 255, 255, 0.61);
  --grid-bg-color:rgba(255, 255, 255, 0.61);
  --button-category-color:white;
  --text-category-black-color:#121212;
  --box-shadow: 0px 0px 7px 5px rgba(255, 255, 255, 0.1);
  --box-shadow-bottom: 0px 0px 7px 5px rgba(255, 255, 255, 0.1);

}

body{
  /* --box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.1); */
  box-sizing: ;
  --box-shadow: 0px 9px 15px 5px rgba(0,0,0,0.1);

  font-family: 'Gilroy-Bold', sans-serif;
  font-family: 'Gilroy-Heavy', sans-serif;
  font-family: 'Gilroy-Light', sans-serif;
  font-family: 'Gilroy-Medium', sans-serif;
  font-family: 'Gilroy-Regular', sans-serif;

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  --dark-bg-color:#ef6a36;
  --lighter-bg-color:#222;
  --secondary-black-color:#222;
  --text-white-color:white;
  --bg-black-color:  #f4f5f8;
  --dark-category-color:#222;
  
  --text-black-color:#121212;
  --grid-bg-color:#bccded;
  --bg-category-color:#f4f5f8;
  --button-category-color:#222;
  --text-category-black-color:#121212;
  --box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.1);
  --box-shadow-bottom: 0px 0px 7px 5px rgba(0,0,0,0.1);
  --font-family:'Courier New', Courier, monospace;
  /*  */
}